
<!-- Catalog component -->
<div *ngIf="isLoading">
    <app-loader />
</div>

<ng-container *ngIf="!isLoading">
<h1 class="heading">Craftsmen listings</h1>
<div class="craftsmen-cards" *ngIf="listings.length !== 0">
    <article class="card" *ngFor="let listing of listings">
        <div class="img-container">
            <img class="card-img" src={{listing.photo}} alt="craftsman-pic">
        </div>
        <div class="card-desc">
            <p class="name">{{listing.name}}</p>
            <p class="category">{{listing.category}}</p>
            <p class="description">{{listing.desc | slice: 50}}</p>
            <p class="details-link">
                <a routerLink={{listing._id}}>View more</a>
            </p>
        </div>
    </article>
</div>
<div class="no-listings" *ngIf="listings.length === 0">No listings</div>
</ng-container>
