footer {
    background-color: rgba(239, 196, 6, 0.781);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.specials {
    display: flex;
    gap: 12px;
}