<header class="header">
  <div class="logo-container">
    <div class="logo">
      <i class="fa-solid fa-handshake"></i>
    </div>
    <div class="logo-text">
      <p class="logo-text-upper">CRAFTSMEN</p>
      <p class="logo-text-lower">you can trust!</p>
    </div>
  </div>
  <nav class="nav-container">
    <ul class="nav-list" role="list">
      <li class="list-item"><a href="#">Home</a></li>
      <li class="list-item"><a href="#">About us</a></li>
      <li class="list-item"><a href="#">Browse craftsmen</a></li>
      <li class="list-item"><a href="#">Create profile</a></li>
      <li class="list-item"><a href="#">Login</a></li>
      <li class="list-item"><a href="#">Register</a></li>
    </ul>
  </nav>
</header>
