/* Catalog component */

/* .heading {
    margin: 20px 40px;

}

.craftsmen-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 40px;
}
.card {
    width: 250px;
    height: 350px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid rgba(236, 197, 126, 0.5);
    box-shadow: 5px 5px 5px rgba(220, 177, 96, 0.668);
}
.img-container {
    width: 250px;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;

}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-desc {
    margin: 20px 10px;
}
.card-desc .name {
    font-size: 24px;
}
.card-desc .category {
    margin-bottom: 20px;
}
.card-desc .details-link {
    text-align: right;
} */

/* details component */

/* #details {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 1px solid rgb(226, 208, 175);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 241, 239);

}
.details-summary {
    display: flex;
    gap: 20px;
}
.details-img-container {
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;


}
.details-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.desc {
    margin: 20px 15px;
    text-indent: 30px;
    text-align: justify;
}
.details-contact > p > span {
    font-weight: bold;
} */



