<!-- Login component -->

<section id="login">
    <h2>Login</h2>
    <form class="login-form">
        <div class="form-group">
            <label for="email" name="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password" name="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button class="login-btn">Log in</button>
    </form>
</section>
