<!-- Details component -->

<h1 class="details-heading">Details</h1>
<section id="details">
  <div class="details-container">
    <div class="details-summary">
      <div class="details-img-container">
        <img
          class="details-card-img"
          src={{listing?.photo}}
          alt="craftsman-pic"
        />
      </div>
      <div class="details-contact">
        <p class="details-name"><span>Name: </span>{{listing?.name}}</p>
        <p class="details-category"><span>Category: </span>{{listing?.category}}</p>
        <p class="details-phone"><span>Phone: </span>{{listing?.phone}}</p>
        <p class="details-email"><span>Email: </span>{{listing?.email}}</p>
      </div>
    </div>
    <div class="details-desc">
      <p class="desc">
        {{listing?.desc}}
    </div>
    <div class="buttons">
        <button class="btn edit-btn" (click)="editListingHandler(listing!._id)">Edit</button>
        <button class="btn delete-btn">Delete</button>
    </div>
  </div>
</section>



