
/* details component */

#details {
    height: 600px;
    display: flex;
    justify-content: center;
}
.details-container {
    width: 700px;
    height: 450px;
    overflow: hidden;
    border: 1px solid rgb(226, 208, 175);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 241, 239);

}
.details-summary {
    display: flex;
    gap: 20px;
}
.details-img-container {
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;

}
.details-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.details-desc {
    height: 100px;
}
.desc {
    margin: 20px 15px;
    text-align: justify;
}
.details-contact > p > span {
    font-weight: bold;
}

.details-heading {
    margin: 20px 40px;
    font-size: 32px;
}
.buttons {
    margin: 50px 15px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.btn {
    display: inline-block;
    margin: auto;
    width: 200px;
    background-color: rgba(239, 196, 6, 0.781);
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}