<!-- Details component -->

<section id="details">
  <div class="details-container">
    <div class="details-summary">
      <div class="details-img-container">
        <img
          class="details-card-img"
          src="https://previews.123rf.com/images/stylephotographs/stylephotographs1906/stylephotographs190600040/124173230-man-as-a-craftsman-with-crossed-arms-in-the-carpentry-or-joinery.jpg"
          alt="craftsman-pic"
        />
      </div>
      <div class="details-contact">
        <p class="details-name"><span>Name: </span>John Mogensen</p>
        <p class="details-category"><span>Category: </span>Carpenter</p>
        <p class="details-phone"><span>Phone: </span>+359 567777</p>
        <p class="details-email"><span>Email: </span>ivo@abv.bg</p>
      </div>
    </div>
    <div class="details-desc">
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores totam
        veritatis doloribus magnam ab dicta, praesentium recusandae mollitia
        repellendus tenetur soluta provident reiciendis nesciunt sapiente velit
        quae similique ratione dolorem. 
    </div>
  </div>
</section>



