.error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(239, 196, 6, 0.781);
    padding: 15px;
    color: black;
    font-size: 32px;
    border-radius: 6px;
    font-weight: bold;
}